
.copyright {
    position: absolute;
    color: #786B58;
    padding: 8px 0 0 9px;
    bottom: 0;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    border-top: 1px solid #E0E0E0;
}

.footer {
    width: 100%;
    height: 28px;
    border-top: 1px solid #E0E0E0;
    position: absolute;
    bottom: 0px; 
    left: 0px; 
    text-align: center; 
}