<p></p>
<form class="formwidth"  #nuidresetForm>
  Delete Applications :<br><br>
  <md-select placeholder="Environment" required>
    <md-option *ngFor="let env of environments">{{env}}</md-option>
  </md-select>
  <br><br>
  <md-select placeholder="Input type" required>
    <md-option *ngFor="let type of types">{{type}}</md-option>
  </md-select>
  <br><br>
  <md-form-field class="fullwidth">
    <textarea mdInput placeholder="empid/nuid"></textarea>
  </md-form-field>
  <br><br>
  <button md-raised-button color="primary">submit</button>
  <br><br>
</form>
