/* You can add global styles to this file, and also import other style files */

 @import "~@angular/material/prebuilt-themes/indigo-pink.css"; 

 /* @import "~@angular/material/prebuilt-themes/deeppurple-amber.css"; */

.spacer {
    -webkit-box-flex: 1;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
}

.formwidth {
    width:500px;
    padding-left: 40px;
}

.fullwidth {
    width:100%;
}